.photo1 img{
    height:100%;
}

@media (max-width:900px){
    .photo1
    {
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
        gap: 10px;
    }
}
@media (max-width:700px){
    .photo1
    {
        display: grid;
        grid-template-columns: 33% 33% 33%;
        gap: 10px;
    }
}
@media (max-width:500px){
    .photo1
    {
        display: grid;
        grid-template-columns: 48% 48%;
        gap: 10px;
    }
}

@media (min-width:1100px ){
    .photo1
    {
        display: grid;
        grid-template-columns: 15% 15% 15% 15% 15% 15%;
        gap: 10px;
    }
}